.wrapper {
    margin: 0 auto;
    font-family: 'Yeon Sung', cursive;
}

.keyboard {
    width: 700px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgba(0,0,0,.1);
}

.keyboard .row {
    clear: both;
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}

.keyboard .row:last-child {
    margin-bottom: 0;
}

.keyboard .row div:first-child {
    margin-left: 0;
}

.keyboard .key {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #00BFFF;
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #b5b5b5;
    cursor: pointer;
    user-select: none;
    transition: border-radius .3s,background .2s
}

.keyboard .key:hover {
    background: grey;
}

.keyboard .backspace,
.keyboard .capslock {
    width: 100px;
}

.keyboard .shift {
    width: 126px;
}

.keyboard .alt,
.keyboard .arrow,
.keyboard .backspace,
.keyboard .capslock,
.keyboard .ctrl,
.keyboard .del,
.keyboard .enter,
.keyboard .shift,
.keyboard .shift-right,
.keyboard .tab,
.keyboard .win {
    font-weight: 600;
    color: #00BFFF;
    background-color: #fff;
}

.keyboard .alt {
    width: 64px;
}

.keyboard .tab {
    width: 98px;
}

.keyboard .del {
    width: 44px;
}

.keyboard .enter {
    width: 86px;
}

.keyboard .shift-right {
    width: 106px;
}

.keyboard .ctrl {
    width: 64px;
}

.keyboard .space {
    width: 560px;
}

.keyboard sup {
    position: absolute;
    margin: -10px 0 0 -20px;
    font-size: 12px;
}

#result {
    display: block;
    width: 800px;
    height: 300px;
    margin: 0 auto 10px;
    padding: 10px;
    font-size: 18px;
    color: #444;
}

.off,
.up {
    display: none;
}

.down {
    display: inherit;
}

.keyboard .key.active {
    background-color: #5571ee;
    border-radius: 50px;
}
